client/CMakeLists.txt.user
client/build/
build-creator/
.vscode/
CMakeLists.txt.user
build/

buildrpm/_buildtmp
buildrpm/_buildres

buildrun/*.run
buildrun/*.readme
buildrun/*.md5
buildrun/ks-run/ks-scmc-gui/1.1/*.sh
buildrun/ks-run/ks-scmc-gui/1.1/**/*.rpm
