
config_opts['root'] = 'kylin-3.4-{arch}'
config_opts['target_arch'] = '{arch}'
config_opts['legal_host_arches'] = ('{arch}',)
config_opts['chroot_setup_cmd'] = 'groupinstall build'
config_opts['dist'] = 'ky3'  # only useful for --resultdir variable subst
# beware RHEL use 6Server or 6Client
config_opts['releasever'] = '3'
config_opts['use_nspawn'] = False

config_opts['yum.conf'] = """
[main]
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
mdpolicy=group:primary

[base]
name=KylinSec OS-$releasever - Base
gpgcheck=0
enabled=1
priority=1
baseurl=http://192.168.120.71/kojifiles/repos/KY3.4-4-PG-ks-scmc-1.1-build/latest/{arch}/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release


#[kiran-log-qt5]
#name=KylinSec OS-$releasever - kiran-log-qt5
#gpgcheck=0
#enabled=0
#priority=55
#baseurl=http://192.168.120.71/kojifiles/repos/KY3.4-4-PG-release-build/latest/{arch}/
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release

[license]
name=KylinSec OS-$releasever - License
gpgcheck=0
enabled=1
priority=99
baseurl=http://192.168.120.17/kojifiles/repos/ks-license-2.7-nodeps-next-build/latest/{arch}/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release
exclude=perl* rpm-build kylin-rpm-config openssl* vim*

"""
