
config_opts['root'] = 'kylin-3.3-{arch}'
config_opts['target_arch'] = '{arch}'
config_opts['legal_host_arches'] = ('{arch}',)
config_opts['chroot_setup_cmd'] = 'groupinstall build'
config_opts['dist'] = 'ky3'  # only useful for --resultdir variable subst
# beware RHEL use 6Server or 6Client
config_opts['releasever'] = '3'
config_opts['use_nspawn'] = False

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
mdpolicy=group:primary
best=1

# repos
#[base]
#name=base
#enabled=1
#baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-6-PG-ks-scmc-1.1-build/latest/{arch}/
#gpgcheck=0

#[epel]
#name=Epel
#gpgcheck=0
#enabled=1
#baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-EPEL-build/latest/{arch}/
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release

[base]
name=KylinSec OS-$releasever - Base
gpgcheck=0
enabled=1
#baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-6-PG-build/latest/x86_64/
baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-6-PG-ks-scmc-1.1-build/latest/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release

[epel]
name=KylinSec OS-$releasever - Epel
gpgcheck=0
enabled=1
baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-EPEL-build/latest/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release

[license]
name=KylinSec OS-$releasever - License
gpgcheck=0
enabled=1
baseurl=http://192.168.120.17/kojifiles/repos/KY3.3-6-PG-ks-license-2.6-build/latest/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-kylin-release

"""
